@using Webshop.Core.Models
@using System.Web

@model List<UserCartModel>

@{
    decimal totalPrice = 0;
}

<div class="table-responsive">
    <table class="table product-table">
        <thead class="">
        <tr>
            <th class="font-weight-bold">Product</th>
            <th class="font-weight-bold">Price</th>
            <th class="font-weight-bold">Actions</th>
        </tr>
        </thead>
        <tbody>
        @if (Model != null)
        {
            foreach (var product in Model)
            {
                totalPrice += product.Price * product.Count;
                <tr>
                    <th><a href="/Shop/Product/@product.Id">@product.Name</a></th>
                    <th>
                        <span>$@product.Price x</span>
                        <input data-counterproductid="@product.Id" class="form-control" style="display: inline !important; width: auto;" type="number" value="@product.Count" min="1" max="10">
                    </th>
                    <th class="btn-group">
                        @using (Html.BeginForm("UpdateCartItem", "Shop"))
                        {
                            @Html.Hidden("productId", product.Id)
                            @Html.Hidden("count", product.Count)
                            <input class="mr-3 btn btn-primary" type="submit" value="Update">
                        }
                        @using (Html.BeginForm("RemoveItemFromCart", "Shop"))
                        {
                            @Html.Hidden("productId", product.Id)
                            <input class="btn btn-warning" type="submit" value="Remove">
                        }
                    </th>
                </tr>
            }
        }
        <tr>
            <td></td>
            <td><b>Total:</b> $@totalPrice</td>
            <td>
                @if (Model != null)
                {
                    <a href="/shop/checkout/" class="btn btn-primary">Checkout</a>
                }
            </td>
        </tr>
        </tbody>
    </table>
</div>

@if (Model != null)
{
    using (Html.BeginForm("EmptyCart", "Shop"))
    {
        <input class="btn btn-danger" type="submit" value="Empty cart">
    }
}
