@using Microsoft.AspNetCore.Rewrite.Internal
@model List<UserCartViewModel>

@{
    decimal totalPrice = 0;
}

<div id="cart">
    <div class="cartProduct productHeader">
        <div class="productName">Product</div>
        <div class="productPrice">Price</div>
        <div class="productActions">Actions</div>
    </div>
    <hr class="cartDivider">
    @if (Model != null)
    {
        foreach (var product in Model)
        {
            <div class="cartProduct">
                <div class="productName">
                    @product.Name
                </div>
                <div class="productPrice">
                    $@product.Price x <input data-counterproductid="@product.Id" class="productCount" type="number" value="@product.Count" min="1" max="10">
                </div>
                <div class="productActions" data-controlsproductid="@product.Id">
                    @using (Html.BeginForm("UpdateCartItem", "Shop"))
                    {
                        @Html.Hidden("productId", product.Id)
                        @Html.Hidden("count", product.Count)
                        <input class="cartProductUpdate" type="submit" value="Update">
                    }
                    @using (Html.BeginForm("RemoveItemFromCart", "Shop"))
                    {
                        @Html.Hidden("productId", product.Id)
                        <input class="cartProductRemove" type="submit" value="Remove">
                    }
                </div>
            </div>
            totalPrice += product.Price * product.Count;
        }
    }
    else
    {
        <div class="cartEmptyNotice">Your cart is empty</div>
    }

    <hr class="cartDivider">
    <div class="cartProduct productSummary">
        <div class="productName"></div>
        <div class="productPrice productPriceTotal">
            <b>Total:</b> $@totalPrice
        </div>
        <div class="productActions productActionsAll">
            @using (Html.BeginForm("EmptyCart", "Shop"))
            {
                <input class="cartProductRemoveAll" type="submit" value="Empty cart">
            }
        </div>
    </div>
    @if (Model != null)
    {
        using (Html.BeginForm("Checkout", "Shop"))
        {
            @Html.Hidden("Cart", Model)
            <input class="cartCheckout" type="submit" value="Checkout">
        }
    }
</div>
