@using Microsoft.AspNetCore.Rewrite.Internal
@model List<UserCartViewModel>

@{
    decimal totalPrice = 0;
}


<div id="cartDisplay">
    <ul class="cartList">
        <li class="cartProductHeader">
            <span class="cartProductNameHeader">Product</span>
            <span class="cartProductPriceHeader">Price</span>
            <span class="cartProductControlsHeader">Action</span>
        </li>

        @if (Model != null)
        {
            foreach (var product in Model)
            {
                <li class="cartProduct">
                    <span class="cartProductName">@product.Name</span>
                    <span class="cartProductPrice">$@product.Price x <input data-counterproductid="@product.Id" class="productCount" type="number" value="@product.Count" min="1" max="10"></span>
                    <span class="cartProductControls" data-controlsproductid="@product.Id">
                        @using (Html.BeginForm("UpdateCartItem", "Shop"))
                        {
                            @Html.Hidden("productId", product.Id)
                            @Html.Hidden("count", product.Count)
                            <input class="cartProductUpdate" type="submit" value="Update">
                        }
                        @using (Html.BeginForm("RemoveItemFromCart", "Shop"))
                        {
                            @Html.Hidden("productId", product.Id)
                            <input class="cartProductRemove" type="submit" value="Remove">
                        }
                    </span>
                </li>

                totalPrice += product.Price * product.Count;
            }
        }
        else
        {
            <li class="cartEmptyNotice">Your cart is empty</li>
        }

        <li class="cartProductHeader">
            <span class="cartProductTotalSpacer"></span>
            <span class="cartProductTotalPrice">Total: $@totalPrice</span>
            @using (Html.BeginForm("EmptyCart", "Shop"))
            {
                <input class="cartProductRemoveAll" type="submit" value="Empty cart">
            }
        </li>
    </ul>

    @using (Html.BeginForm("Checkout", "Shop"))
    {
        <input class="cartCheckout" type="submit" value="Checkout">
    }
</div>
