@model CheckoutViewModel

@using (Html.BeginForm("Checkout", "Shop"))
{
    <p class="h6 mb-4">Please enter your details below</p>

    <div class="md-form">
        <i class="fa fa-envelope prefix"></i>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
    </div>

    <div class="md-form">
        <i class="fa fa-user prefix"></i>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
    </div>

    <div class="md-form">
        <i class="fa fa-building prefix"></i>
        @Html.LabelFor(m => m.Street)
        @Html.TextBoxFor(m => m.Street, new {@class = "form-control"})
    </div>

    <div class="md-form">
        <i class="fa fa-map prefix"></i>
        @Html.LabelFor(m => m.Zip)
        @Html.TextBoxFor(m => m.Zip, new {@class = "form-control"})
    </div>

    <div class="md-form">
        <i class="fa fa-bank prefix"></i>
        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City, new {@class = "form-control"})
    </div>

    <div class="md-form">
        <i class="fa fa-flag prefix"></i>
        @Html.LabelFor(m => m.Country)
        @Html.TextBoxFor(m => m.Country, new {@class = "form-control"})
    </div>

    <div class="text-center mt-4">
        <input class="btn btn-success" type="submit" value="Confirm Order"/>
    </div>
}
