@model Webshop.Core.Models.OrderModel

@{
    decimal totalPrice = 0;
}

<div class="row mx-1">

    <div class="card mb-3 pt-3 col-12 col-sm-8 col-md-5 col-lg-4 col-xl-3">
        <div class="card-body">
            <h4 class="card-title">Thanks for your order!</h4>
            <p class="card-text"><b>Email:</b> @Model.Address.Email</p>
            <p class="card-text"><b>Shipping address:</b></p>
            <p class="card-text">@Model.Address.Name<br>
                @Model.Address.Street<br>
                @Model.Address.Zip @Model.Address.City, @Model.Address.Country</p>

            <p class="card-text"><b>Order summary:</b></p>
            @foreach (var product in Model.UserCart)
            {
                <p class="card-text">
                    <a href="/shop/product/@product.Id">@product.Name</a> -
                    $@product.Price x @product.Count
                </p>
                totalPrice += product.Price * product.Count;
            }
            <p class="card-text"><b>Total:</b> $@totalPrice</p>
        </div>
    </div>
</div>
