@model OrderViewModel

@{
    decimal totalPrice = 0;
}

<p>Thanks for your order, below is a summary.</p>

<div>
    <b>Shipping address:</b>
    <br>
    @Model.Address.FirstName @Model.Address.LastName
    <br>
    @Model.Address.Street @Model.Address.StreetNumber
    <br>
    @Model.Address.Zip @Model.Address.City, @Model.Address.Country
</div>

<hr>

<div>
    <b>Order summary:</b>
    @foreach (var product in Model.UserCart)
    {
        <div>
            <a href="/Shop/Product/@product.Id">
                @product.Name
            </a>
            <div>
                $@product.Price x @product.Count
            </div>
        </div>

        totalPrice += product.Price * product.Count;
    }
</div>
<br>
<div>
    <b>Total:</b> $@totalPrice
</div>
