@model Webshop.Core.Models.ProductModel

<div class="cards row mx-1">

    <div class="card mb-3 pt-3 col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4" data-productid="@Model.Id">
        <img class="img-fluid" src="/../images/@(Model.Id).jpg" alt="@Model.Name (image)">


        <div class="card-body">
            <h4 class="card-title">@Model.Name - $@Model.Price</h4>
            <p class="card-text">@Model.Description</p>
            @using (Html.BeginForm("AddToCart", "Shop"))
            {
                @Html.Hidden("productId", Model.Id)
                <input class="btn btn-primary" type="submit" value="Add To Cart" data-productprice="$@Model.Price">
            }
        </div>
    </div>
</div>
